<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../composnts/header/header'); %>
  </head>
  <body
    class="bg-gradient-to-br from-green-400 via-emerald-500 to-teal-600 text-white font-poppins"
  >
    <%- include('../composnts/body/landing'); %>
    <%-include('../composnts/body/features'); %>
    <%-include('../composnts/body/composer'); %>
    <%-include('../composnts/header/footer'); %>
    <%-include('../composnts/optional/scripts'); %>
  </body>
</html>
